
.fondo{
    background-image: url(../img/log.png);
    /* background-repeat: no-repeat;  */
    background-size: cover;
    background-repeat: no-repeat;
    /* width: 100%; */
    height: 100%;
}

h2{
    text-align: center;
    color: rgb(255, 255, 255);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}


/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f2f2f2; /* Color de fondo del body */
}

/* Estilos específicos para la clase "fondo" */

/* Estilos para el formulario de login */
form {
    width: 300px;
    margin: 10vh auto 0 auto; /* Cambia el valor de margin-top a 10vh */
    background: #f9f9f9;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Agrega un sombreado al formulario */
}

fieldset {
    border: none; /* Elimina el borde del fieldset */
    padding: 0; /* Elimina el padding del fieldset */
}

legend {
    font-weight: bold;
    margin-bottom: 10px; /* Añade un poco de espacio entre la leyenda y los campos */
}

label {
    display: block; /* Hace que las etiquetas se muestren en una nueva línea */
    font-weight: bold;
    margin-bottom: 5px; /* Añade un poco de espacio entre las etiquetas y los campos */
}

input[type="text"],
input[type="email"],
input[type="password"] {
    width: calc(100% - 22px); /* Ajusta el ancho para tener en cuenta el relleno y el borde */
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    margin-bottom: 15px;
}

input[type="submit"] {
    width: 100%;
    background-color: #6b6de2; /* Color de fondo del botón */
    color: #fff; /* Color del texto del botón */
    padding: 12px;
    font-size: 1.6rem; /* Reduzco un poco el tamaño de la fuente */
    border: none;
    border-radius: 15px;
    cursor: pointer;
    transition: background-color 0.3s; /* Efecto de transición al pasar el ratón */
}

input[type="submit"]:hover {
    background-color: #001f66; /* Cambia el color de fondo al pasar el ratón */
}


/* estilo de la barra de navegacion */
.navbar {
    color: #ffffff;
    display: flex;
    text-align: center;
    padding: 5px 20px;
    border-bottom: 1px solid #fff;
}

.navbar ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.navbnar {
    text-align: center; /* Centrar el enlace */
    margin-top: 20px; /* Espacio superior */
}

.navbar a {
    display: inline-block; /* Hacer el enlace un bloque para que pueda tener dimensiones */
    padding: 10px 20px; /* Espaciado interior */
    color: #ffffff; /* Color del texto */
    text-decoration: none; /* Eliminar subrayado */
    border-radius: 5px; /* Borde redondeado */
    transition: transform 0.3s ease, background-color 0.3s ease; /* Transición suave */
}

.navbar a:hover {
    background-color: rgba(200, 200, 200, 0.7); /* Fondo grisáceo transparente al pasar el cursor */
    transform: scale(1.1); /* Aumentar el tamaño */
}


.estilobarra{
    text-align: center;

}

@media only screen and (max-width: 700px){
    .fondo{
       background-image: url(../img/log.png);

    }
   
}









