@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body.indice {
  background-color: rgba(119, 172, 218, 0.8);
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  height: 100vh;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  color: #333;
}

@media (max-width: 768px) {
  body.indice {
    background-attachment: scroll; /* Permite que la imagen se desplace en dispositivos más pequeños */
    background-size: contain; /* Ajusta el tamaño de la imagen para que se ajuste dentro del contenedor */
    background-position: top center; /* Centra la imagen en la parte superior */
  }
}

header {
  background-image: url(../img/banner2.jpg); 
  background-size: cover;
  background-position: center;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  color: #fff;
}

header .titulo {
  font-size: 48px;
  font-weight: 700;
  margin: 0;
  text-transform: uppercase;
  letter-spacing: 2px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.recuadro{
  margin: 2%;
}

.titulo2{

  font-size: 20px; /* Tamaño de fuente aumentado */
  font-weight: 800; /* Grosor de fuente aumentado */
  margin: 0;
  text-transform: uppercase;
  letter-spacing: 3px; /* Espaciado de letras aumentado */
  text-shadow: 3px 3px 6px rgba(0, 0, 0, 0.4); /* Sombra de texto ajustada */
  color: #ffffff; /* Color de texto ajustado para un tono estético */
  font-family: 'Arial', sans-serif; /* Familia de fuente para una mejor estética */
}


header .frase {
  font-size: 1.5rem;
  font-weight: 400;
  margin: 10px 0 0;
  transition: color 0.3s ease-in-out;
}

nav.contenedor {
  margin-top: 20px;
}

.navbar {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: center;
  gap: 15px;
}

.navbar a {
  text-decoration: none;
  color: #fff;
  font-size: 20px;
  padding: 10px 20px;
  transition: background-color 0.3s ease, color 0.3s ease;
  border-radius: 5px;
  display: flex;
  align-items: center;
}

.navbar a:hover {
  background-color: #86acc7;
  color: #fff;
}

.navbar a i {
  margin-left: 10px;
}

.container {
  max-width: 1000px;
  margin: 50px auto;
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.box {
  padding: 2rem;
  border: 1px solid #ddd;
  border-radius: 10px;
  background-color: #fff;
  transition: background-color 0.3s ease;
  color: #000;
}

.box:hover {
  background-color: #f9f9f9;
}

.box h2 {
  font-size: 24px;
  margin-bottom: 15px;
  color: #222;
}

.box p, .box ul {
  font-size: 1rem;
  line-height: 1.6;
  margin: 15px 0;
  color: #000;
}

.box ul {
  padding-left: 20px;
}

.box ul li {
  margin: 10px 0;
}

.box ul li strong {
  font-weight: 600;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

td, th {
  border: 1px solid #ddd;
  padding: 12px 15px;
  text-align: left;
}

th {
  background-color: #f4f4f4;
  font-weight: bold;
}


@media only screen and (max-width: 700px){
  .navbar {
    flex-direction: column;
    align-items: center;
  }

  .container {
    margin: 20px;
    padding: 15px;
  }

  .box {
    padding: 2rem;
    border: 1px solid #ddd;
    border-radius: 10px;
    background-color: #fff;
    transition: background-color 0.3s ease;
    color: #000;
    margin: 20px; /* Added margin */
  }

  header .titulo {
    font-size: 36px;
  }

  header .frase {
    font-size: 1.2rem;
  }

  .columna-oculta{
    display: none;
  }


}

